# dependencies
/node_modules

# production build output
/dist

# local environment variables
.env
.env.*.local

# editor specific files
.vscode/
.idea/

# macOS specific files
.DS_Store

# npm debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# misc
*.log
*.swp
.npmrc
.yarnrc